@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');





body{


font-family: 'Open Sans', sans-serif;
font-size: 16px;
margin: 0;
  }
  
#menu{
    display: flex; 
    justify-content: space-between;
    width: 70%;
    margin: auto;

    padding: 20px 0 20px 0;
    /* OU
    padding-top: 20px;
    padding-bottom: 20px;
    */
}
.logo{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    
}

  .logo span{
   color: orange;
  }

#menu nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 35px;
}

header section {

    display: flex;
    justify-content: space-between ;
    width: 60%;
    margin: auto;
    align-items: center;/*centrage vertical, seulement avec flexbox*/
  /*  display: flex; 
    justify-content: space-between;
    width: 55%;
    margin: auto;

    padding: 20px 0 20px 0;*/
}

header section h1 {
    font-size: 4rem;
    font-weight: lighter;
}

.Titre{

    width: 35%;
   /* padding: 160px;*/
    
  
}
header section p {
    font-size: 1.3;
    margin: 0;font-weight: lighter;
    color: #999999;
}


/*Couleur de fond au dessus*/
header {
    background-color: rgba(128, 128, 128, 0.103);

}

/*Enlever . et soulignement */
#menu nav ul li a {
    text-decoration:none; 
    color: #999999;
  
}
 
/*changer couleur menu avec hover */
#menu nav ul li a:hover{
    color:#000;

    }


    main {
        width: 50%;
        margin: auto;
    
        padding: 20px 0 20px 0;
        
    }


    
    .Veterinary a{

        text-decoration:none; 
        border: none; /* Enlève la bordure */
        background-color: rgba(9, 124, 139, 0.527); /* hexadecimal */
        color: white;
        font-weight: bold;
        border-radius: 50px;
        padding: 12px;
        font-size: 1.2rem;
        margin: auto; 
     
        /* Centre le bouton en appliquant des marges extérieurs automatique */
    }

    .Dog a{ 
        text-decoration:none; 
        border: none; /* Enlève la bordure */
        background-color: rgba(9, 124, 139, 0.527); /* hexadecimal */
        color: white;
        font-weight: bold;
        border-radius: 50px;
        padding: 12px;
        font-size: 1.2rem;
        margin: auto; /* Centre le bouton en appliquant des marges extérieurs automatique */
    }


.Entête {
    text-align: center;
    width: 50%;
    margin: auto;

    padding: 20px 0 20px 0;
}


.Veterinary, .Dog {

    padding: 30px;
}


.Veterinary {


display: block;
text-align: right;
display: grid;
grid-template-columns: 1fr 1fr ;/* ou grid-template-columns: repeat(3, 1fr); */
gap: 120px ;

}

.Dog {
    text-align: left;
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr ;/* ou grid-template-columns: repeat(3, 1fr); */
    gap: 120px;
    
    }



 
.photo{
    
    box-shadow: 6px 6px  rgba(9, 124, 139, 0.527);
    width: 400px;
}







/*Le bas de page*/
footer{

margin: 0;
    height: 50px;
    text-align: center;
    background-color: rgb(66, 64, 64);
    color: rgb(255, 255, 255); 
 
}


